[
	{
		"source_filename":"index.jj2",
		"context":
		{
			"variableA" : "cat",
			"variableB" : "hat"
		},
		"output_filename":"example_index_1.html"
	},
	{
		"source_filename":"index.jj2",
		"context":
		{
			"variableA" : "dog",
			"variableB" : "bog"
		},
		"output_filename":"example_index_2.html"
	}
]